[user]
    name = Carl Egbert
    email = egbertcarl@gmail.com

[github]
    user = carlegbert

[credential]
    helper = cache --timeout=36000

[color]
    ui = true

[color "interactive"]
    header = magenta
    prompt = blue
    help = cyan

[color "branch"]
    current = green bold
    local = green
    remote = blue

[color "diff"]
    meta = yellow ul
    frag = cyan ul
    old = red
    new = green

[color "status"]
    added = green
    changed = yellow
    untracked = red
    header = cyan
    branch = cyan bold ul

[core]
    excludesfile = ~/.gitignore_global
    editor = $EDITOR
    autocrlf = input

[alias]
    cm = commit -m
    st = status
    co = checkout
    ap = add -p
    cb = checkout -b
    lg = log --graph --pretty=format:'%C(yellow)%h%C(auto)%d%Creset %s %C(white)- %an, %ar%Creset'
    last = log -1
    amend = commit --amend --no-edit
    shlg = log --pretty=format:'%h %s' HEAD~5..HEAD
    idiff = diff --word-diff=plain
    cleanup = !git branch --merged | grep -v '\\*\\|master\\|develop' | xargs -n 1 git branch -d
    pushu = push origin -u HEAD
    cm-empty = commit --allow-empty -m "empty commit"

[grep]
    break = true
    heading = true
    lineNumber = true

[url "git@github.com:"]
    insteadOf = gh:
