[user]
    name = Carl Egbert
    email = egbertcarl@gmail.com

[github]
    user = carlegbert

[credential]
    helper = cache --timeout=36000

[color]
    ui = true

[color "interactive"]
    header = magenta
    prompt = blue
    help = cyan

[color "branch"]
    current = green bold
    local = green
    remote = blue

[color "diff"]
    meta = magenta ul
    frag = cyan ul
    old = red
    new = green

[color "status"]
    added = green
    changed = yellow
    untracked = red
    header = cyan
    branch = cyan bold ul

[core]
    excludesfile = ~/.gitignore_global
    editor = $EDITOR
    autocrlf = input

[alias]
    cm = commit -m
    st = status
    co = checkout
    cl = checkout -
    ap = add -p
    cb = checkout -b
    cp = cherry-pick
    log-pretty = log --graph --pretty=format:'%C(yellow)%h%C(auto)%d%Creset %s %C(white)- %an, %ar%Creset'
    rb = for-each-ref --sort=-committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))' --count=20
    cmnv = commit --no-verify -m
    coma = checkout master
    last = log -1
    amend = commit --amend --no-edit
    lg = log --pretty=format:'%h %s'
    log-hash-only = log --pretty=format:'%h'
    shlg = log --pretty=format:'%h %s' HEAD~5..HEAD
    mlg = log --pretty=format:'%h %s' HEAD~10..HEAD
    idiff = diff --word-diff=plain
    cleanup = !git branch --merged | grep -v '\\*\\|master\\|develop' | xargs -n 1 git branch -d
    pushu = push origin -u HEAD
    cm-empty = commit -m \"empty commit\" --allow-empty
    lasthash = log-hash-only -1
    sta = stash
    stap = stash pop

[grep]
    break = true
    heading = true
    lineNumber = true

[diff]
	tool = vimdiff

[url "git@github.com:"]
    insteadOf = gh:

[url "https://aur.archlinux.org/"]
    insteadOf = aur://

[merge]
    conflictstyle = diff3

[icdiff]
    options = --highlight --line-numbers
[init]
	defaultBranch = main
