[user]
    name = Carl Egbert
    email = egbertcarl@gmail.com

[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
    ui = true

[color "diff"]
    meta = yellow bold ul
    frag = cyan bold ul
    old = red bold
    new = green bold

[color "status"]
    added = green
    changed = yellow
    untracked = red

[core]
    excludesfile = ~/.gitignore_global
    editor = vim
#   *nix/osx
    autocrlf = input
#   windows :(
#    autocrlf = true

[alias]
    cm = commit -m
    amend = commit --amend --no-edit
    lg = log --graph --pretty=format:'%C(yellow)%h%C(auto)%d%Creset %s %C(white)- %an, %ar%Creset'
    shlg = log --pretty=format:'%h %s' HEAD~5..HEAD
    plom = pull origin master
    pshom = push origin master
    idiff = diff --word-diff=plain

[github]
    user = carlegbert

[grep]
    break = true
    heading = true
    lineNumber = true
