set completion-ignore-case on
set colored-completion-prefix on
set editing-mode vi
set colored-stats on
set completion-map-case on
set completion-prefix-display-length 20
set expand-tilde on
set match-hidden-files on


"\e[1;5C": forward-word
"\e[1;5D": backward-word
"\e[A": history-search-backward
"\e[B": history-search-forward
