! special
*.foreground:   #ffffff
*.background:   #000000
*.cursorColor:  #ffffff

! black
*.color0:       #252525
*.color8:       #454545

! red
*.color1:       #e64c3c
*.color9:       #e5625c

! green
*.color2:       #3aff00
*.color10:      #76dd5c

! yellow
*.color3:       #fdda1f
*.color11:      #fd971f

! blue
*.color4:       #435e87
*.color12:      #587aa4

! magenta
*.color5:       #789ec6
*.color13:      #46a4ff

! cyan
*.color6:       #5e7175
*.color14:      #a3babf

! white
*.color7:       #dbdcdc
*.color15:      #fdfdfd
