snippet lnot "\lnot" A
\lnot
endsnippet

snippet land "\land" A
\land
endsnippet

snippet lor "\lor" A
\lor
endsnippet

snippet lequiv "\lequiv" A
\lequiv
endsnippet

snippet uuu "\underline{}" A
\underline{$0}
endsnippet

snippet bbb "\textbf{}" A
\textbf{$0}
endsnippet

snippet beg "begin{} / end{}" bA
\begin{$1}
	$0
\end{$1}
endsnippet
